<div class="flex item-center justify-center position-relative">
    <section
        class="mt-4 w-page-size px-4 py-2 border border-zinc-600 rounded shadow-lg bg-zinc-800">
        <article class="mb-4">
            <h3 class="text-4xl font-semibold text-center text-orange-400 mb-2">
                Cineteatro Maestro José Carlos Ligiero
            </h3>
            <div class="flex flex-col sm:flex-row gap-2">
                <p class="text-left text-zinc-400 block mb-2">
                    O Cineteatro Maestro José Carlos Ligiero, localizado no Instituto Federal
                    Fluminense (IFF) Campus Itaperuna, é um espaço cultural de grande importância
                    para a região. Com capacidade para 134 espectadores, o cineteatro está equipado
                    para projeção de filmes em 4k, iluminação cênica, sistema de som, camarim e um
                    pequeno estúdio. O espaço foi nomeado em homenagem a José Carlos Ligiero, um
                    compositor, regente, professor e fotógrafo brasileiro nascido em Comendador
                    Venâncio, Itaperuna, em 1930. O cineteatro é um local onde são realizadas
                    diversas atividades culturais, incluindo palestras, formaturas, lançamentos de
                    livros, peças teatrais, apresentações de dança e de música, e sessões de cinema
                    para escolas e para a comunidade
                </p>
                <img
                    class="w-96 h-60 object-cover p-1"
                    src="https://portal1.iff.edu.br/nossos-campi/itaperuna/noticias/semana-academica-do-iff-itaperuna-traz-disputa-de-games-e-sessoes-de-cinema-como-novidades-deste-ano/dsc_1118.jpg/@@images/63a54b8b-0168-461a-a166-0c2d2d6a2d09.jpeg"
                    alt="Imagem do cineteatro" />
            </div>
        </article>
        <article>
            <h3 class="text-4xl font-semibold text-center text-orange-400 mb-2">
                IFF Campus Itaperuna
            </h3>
            <div class="flex flex-col sm:flex-row gap-2">
                <p class="text-left text-zinc-400 block mb-2">
                    Fundado em 2008, o Instituto Federal Fluminense (IFF) Campus Itaperuna é uma
                    renomada instituição de ensino na região de Itaperuna, Rio de Janeiro. O campus
                    oferece uma ampla gama de cursos, atendendo a diversas necessidades
                    educacionais. O campus oferece cursos técnicos integrados ao Ensino Médio,
                    cursos técnicos concomitantes, cursos técnicos subsequentes e cursos de nível
                    superior. Com um ambiente de aprendizagem moderno e uma variedade de recursos
                    disponíveis para os alunos, o IFF Campus Itaperuna é um local onde a educação e
                    a cultura se encontram.
                </p>
                <img
                    class="w-96 h-60 object-cover p-1"
                    src="https://odia.ig.com.br/_midias/jpg/2021/01/08/1200x750/1_unnamed-20916968.jpg"
                    alt="Imagem do iff campus itaperuna" />
            </div>
        </article>
    </section>
</div>
