<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" placeholder="Enter your email" [(ngModel)]="email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" placeholder="Enter your password" [(ngModel)]="password">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>
