<app-carousel [items]="items"></app-carousel>
<main
    class="flex items-center justify-center mt-8 overflow-x-hidden"
    *ngIf="reservasConfirmadas.length > 0">
    <section
        class="flex flex-col w-event-size px-4 py-2 border border-orange-400 rounded shadow-lg bg-black mb-8">
        <header class="w-full flex flex-col justify-center items-start">
            <h1 class="text-4xl font-semibold text-center text-orange-400 mb-2">Eventos</h1>
            <small class="text-left text-zinc-400 block">
                Confira os próximos eventos que acontecerão no Cineteatro do IFF - Campus Itaperuna.
            </small>
        </header>
        <hr class="border-orange-300 my-2" />
        <article class="flex flex-row gap-x-20 flex-wrap ml-3 mt-4">
            <div
                *ngFor="let reserva of reservasConfirmadas"
                class="flex flex-col cursor-pointer items-center rounded shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105"
                routerLink="/reserva/{{ reserva.id }}">
                <span class="bg-orange-400 p-1 w-full text-center">{{
                    reserva.solicitacao_reserva.nome_evento
                }}</span>
                <img
                    class="w-52 h-72 object-cover border-collapse border-orange-400 border-2 p-1"
                    *ngIf="reserva.image; else semImagem"
                    src="{{ reserva.image }}"
                    alt="{{ reserva.solicitacao_reserva.descricao }}" />
                <ng-template #semImagem>
                    <div
                        class="w-52 h-72 border-collapse border-orange-400 border-2 p-4 flex items-center justify-center uppercase text-orange-400">
                        Evento sem imagem
                    </div>
                </ng-template>
                <span class="bg-orange-400 p-1 w-full text-center mb-6">{{
                    reserva.inicio | date: 'dd/MM/yyyy - HH:mm'
                }}</span>
            </div>
        </article>
    </section>
</main>
<footer class="w-full flex flex-row justify-start items-center mt-4 p-16 bg-orange-500 mb-4">
    <img
        class="w-48 h-48 object-cover"
        src="assets/images/logo_iff.png"
        alt="Logo do Cineteatro do IFF - Campus Itaperuna" />
    <section class="flex flex-col justify-center items-start">
        <h5 class="text-2xl font-semibold text-black">Contato</h5>
        <small class="text-black block">
            Entre em contato conosco para tirar dúvidas, fazer sugestões ou reclamações.
        </small>
        <span class="text-black block mt-2">
            <b>Email:</b>
            <a href="mailto:cineiffitaperuna@gmail.com" class="text-black hover:text-gray-800">
                cineiffitaperuna@gmail.com
            </a>
        </span>
        <span class="text-black block mt-2">
            <b>Telefone:</b>
            <a href="tel:+55-22-3826-2300" class="text-black hover:text-gray-800">
                +55 (22) 3826-2300
            </a>
        </span>
        <span class="text-black block mt-2">
            <b>Endereço:</b>
            <a
                href="https://maps.app.goo.gl/7cqoDpPwLNZ568mN6"
                target="_blank"
                class="text-black hover:text-gray-800">
                Rodovia BR 356, Km3, Cidade Nova - Itaperuna, RJ - CEP 28.300-000
            </a>
        </span>
    </section>
</footer>
