<div class="min-h-[calc(100vh-4rem)] flex items-center justify-center">
    <form (ngSubmit)="register()" class="w-full max-w-md p-4 border rounded shadow-lg bg-white">
        <h2 class="text-xl font-semibold mb-4 text-zinc-800">Cadastrar Novos Usuários</h2>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
                matInput
                name="email"
                placeholder="Email"
                [(ngModel)]="email"
                autocomplete="email" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input
                matInput
                type="password"
                name="password"
                placeholder="Senha"
                [(ngModel)]="password"
                autocomplete="new-password" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirmação de senha</mat-label>
            <input
                matInput
                type="password"
                name="confirm-password"
                placeholder="Senha"
                [(ngModel)]="confirmPassword" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nome completo</mat-label>
            <input
                matInput
                type="text"
                name="name"
                placeholder="Nome completo"
                [(ngModel)]="name" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Documento</mat-label>
            <input
                matInput
                type="text"
                name="documento"
                placeholder="Documento"
                [(ngModel)]="documento" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Telefone</mat-label>
            <input
                matInput
                type="text"
                name="telefone"
                placeholder="Telefone"
                [(ngModel)]="telefone"
                autocomplete="tel" />
        </mat-form-field>
        <button
            mat-raised-button
            [appPromisedBtn]="loading"
            class="text-white float-right"
            color="accent"
            type="submit">
            Cadastrar
        </button>
    </form>
</div>
