<header class="px-3 py-2">
    <h1 class="text-2xl font-bold text-zinc-800">Justificativa</h1>
</header>
<div mat-dialog-content>
    <header>
        <h6 class="text-red-700">
            Atenção! A justificativa informada será enviada por email ao solicitante.
        </h6>
    </header>
    <form>
        <mat-form-field class="w-full">
            <mat-label>Informe a justificativa para o indeferimento da solicitação</mat-label>
            <textarea
                matInput
                name="justificativa"
                id="justificativa"
                [(ngModel)]="justificativa"></textarea>
        </mat-form-field>
    </form>
</div>

<div class="flex flex-row w-full justify-between px-3 py-2">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="accent" class="text-white" (click)="enviarJustificativa()">
        Enviar
    </button>
</div>
