@use '@angular/material' as mat;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@include mat.core();
$cineiff_frontend-primary: mat.define-palette(mat.$gray-palette);
$cineiff_frontend-primary-dark: mat.define-palette(mat.$gray-palette, 700, 500, 900);
$cineiff_frontend-primary-light: mat.define-palette(mat.$gray-palette, 100, 300, 400);

$cineiff_frontend-accent: mat.define-palette(mat.$orange-palette);
$cineiff_frontend-accent-dark: mat.define-palette(mat.$orange-palette, 700, 500, 900);
$cineiff_frontend-accent-light: mat.define-palette(mat.$orange-palette, 100, 300, 400);
$cineiff_frontend-warn: mat.define-palette(mat.$red-palette);
$cineiff_frontend-theme: mat.define-light-theme(
    (
        color: (
            primary: $cineiff_frontend-primary,
            primary-dark: $cineiff_frontend-primary-dark,
            primary-light: $cineiff_frontend-primary-light,
            accent: $cineiff_frontend-accent,
            accent-dark: $cineiff_frontend-accent-dark,
            accent-light: $cineiff_frontend-accent-light,
            warn: $cineiff_frontend-warn,
        ),
    )
);
$cineiff_frontend-app-background: mat.get-color-from-palette($cineiff_frontend-theme, background);
@include mat.all-component-themes($cineiff_frontend-theme);

@layer components {
    .badge-success {
        @apply bg-green-700 text-white text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full;
    }
    .badge-danger {
        @apply bg-red-700 text-white text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full;
    }
    .badge-dark {
        @apply bg-gray-700 text-white text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #767676;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: 4px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

